* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: #f2f2f2;
}
.outerWrapper {
  width: 100%;
  margin: 0 auto;
}
.headerWrapper {
  width: 100%;
  text-align: center;
  background-color: white;
  height: 130px;
  box-shadow: 0 8px 6px -8px black;
  position: relative;
  z-index: 9999;
}
.headerText {
  font-size: 30px;
  padding: 20px;
}
.headerWrapper hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #0077cc;
}
.headerLinks {
  text-align: left;
  width: 57%;
  margin: 0 auto;
}
.headerLinks a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 30px;
}
.headerWrapper h1 {
  background-color: white;
}

.mainWrapper {
  width: 55%;
  height: 1000px;
  margin: 0 auto;
  background-color: white;
  padding-top: 20px;
}

.mainWrapper a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.mainWrapper hr {
  display: block;
  width: 90%;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: blue;
}

.articleWrapper {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.article {
  text-align: center;
  padding: 10px;
  max-width: 300px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.articleCategory {
  font-size: 25px;
  padding: 10px;
}

.article img {
  width: 250px;
}
.postWrapper {
  margin: 0 auto;
  margin-top: 30px;
  width: 40%;
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
}
.postWrapper img {
  width: 100%;
}
.postCategory {
  color: grey;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
}
.postHeader {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 24px;
}
.postImage {
  max-width: 100%;
  max-height: 100%;
}

.postWrapper hr {
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: black;
}

.postWrapper p {
  margin-bottom: 10px;
  font-size: 17px;
}
.outerPostWrapper {
  padding: 20px;
}

.imageCaption {
  color: lightgray;
  font-size: 15px;
  margin-bottom: 20px;
}

.footer {
  max-width: 100%;
  height: 100px;
  background-color: #00242e;
  padding: 50px;
}

.footer hr {
  display: block;
  width: 55%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: white;
}

.footer p {
  color: white;
  font-size: 30px;
  text-align: center;
}
.formWrapper {
  margin: 0 auto;
  margin-top: 30px;
  width: 70%;
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
  height: 600px;
}

.formItem {
  text-align: center;
  padding: 15px;
}

.formItem input {
  background-color: rgb(247, 243, 243);
  border: 1px solid black;
  width: 50%;
  height: 30px;
}
.formItem textarea {
  background-color: rgb(247, 243, 243);
  border: 1px solid black;
  width: 80%;
  height: 200px;
}
.formItem button {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  border-radius: 14px;
}
.formItem button:hover {
  background-color: lightgreen;
}

.formField {
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}

.adminWrap {
  border: 1px solid red;
  width: 55%;
  margin: 0 auto;
  background-color: white;
}
